<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="/javascripts/fisheye.js"></script>
    <script type="text/javascript" src="/javascripts/bubbles.js"></script>
  </body>
</html>
