<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="/javascripts/fisheye.js"></script>
    <script type="text/javascript" src="/javascripts/bubbles.js"></script>
    <svg id="mySvg" width="80" height="80">
      <defs id="mdef">
        <pattern id="eben" x="0" y="0" height="10" width="10">
          <image x="-200" y="-210" width="600" height="600" xlink:href="/images/eben.png"></image>
        </pattern>
        <pattern id="facebook" x="0" y="0" height="10" width="10">
          <image x="-100" y="-70" width="600" height="600" xlink:href="/images/facebook.png"></image>
        </pattern>
        <pattern id="twitter" x="0" y="0" height="10" width="10">
          <image x="-70" y="-70" width="600" height="600" xlink:href="/images/twitter.png"></image>
        </pattern>
        <pattern id="github" x="0" y="0" height="10" width="10">
          <image x="-30" y="-80" width="600" height="600" xlink:href="/images/github.png"></image>
        </pattern>
        <pattern id="spotify" x="0" y="0" height="10" width="10">
          <image x="-35" y="-90" width="600" height="600" xlink:href="/images/spotify.png"></image>
        </pattern>
        <pattern id="instagram" x="0" y="0" height="10" width="10">
          <image x="-45" y="-100" width="600" height="600" xlink:href="/images/instagram.png"></image>
        </pattern>
      </defs>
    </svg>
  </body>
</html>
